#background-image-home {
    background-image: url("../../static/pictures/hillshade_3840.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#background-transparency-home {
    background-color: rgba(0, 0, 0, 0.49);
    width: 100vw;
    height: 100vh;
}

#start-button {
    background-image: linear-gradient(to right, #478ac9, #e68387);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0px;
    padding: 12px 75px 13px;
    border-radius: 5px;
}

.center-home {
    padding: 2vh 15px;
    max-width: 600px;
    margin:0 auto;
    text-align: center;
    line-height: 1.8;
    color: #ffffff;
}

